# двоичные пакеты и пакеты с исходным кодом
*.rpm
# архивы исходных текстов
*.tar
*.tar.gz
*.tgz
*.tar.bz2
*.tar.xz
# дерево сборки RPM (в ALT по умолчанию ~/RPM, на случай сборки внутри репозитория)
RPM/
rpmbuild/
BUILD/
BUILDROOT/
RPMS/
SRPMS/
